{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
<div class="block">
test
</div>
   
    <h1>{% trans %}
        Test of traduction
    {% endtrans %}</h1>

    <p>{% trans %}
        This is a traduction test !
    {% endtrans %}</p>
</div>
{% endblock %}
