{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message|raw}}
            <br><button class="btn okeFlash" style="margin-top:10px">Ok</button>
        </div>
    {% endfor %}
{% endfor %}