<form class="filter" action="{{ path('sort') }}" method="get">
    <div class="form-group">
        <select name="destination" id="destination">
            <option value="Votre destination" disabled selected>{% trans %}Destination{% endtrans %}</option>
            <option value="Azur">{% trans %}Côtes d'Azur{% endtrans %}</option>
            <option value="Floride">Floride</option>
        </select>
    </div>
    <div class="form-group">
        <select name="housetype" id="housetype">
            <option value="" disabled selected>{% trans %}Type de logement{% endtrans %}</option>
            <option value="Appartement">{% trans %}Appartement{% endtrans %}</option>
            <option value="Villa">Villa</option>
            <option value="Maison">Maison</option>
            <option value="Autres">Autres</option>
        </select>
    </div>
    <div class="form-group">
        <input id="travellers" name="travellers" type="number" placeholder="Nombre de voyageurs" min="0" >
    </div>
    <div class="form-group">
        <input id="bedrooms" name="bedrooms" type="number" min="0" placeholder="Nombre de chambres">
    </div>
    <input type="submit" class="btn" value="Filtrer" id="filterBtn">
</form>
