<form class="filter" action="{{ path('sort') }}" method="get">
    <div class="form-group">
        <select name="type" id="type">
            <option value="" disabled selected>{% trans %}Type de logement{% endtrans %}</option>
            <option value="appartement">{% trans %}Appartement{% endtrans %}</option>
            <option value="villa">Villa</option>
            <option value="maison">Maison</option>
            <option value="autre">Autres</option>
        </select>
    </div>
    <div class="form-group">
        <input id="travellers" name="travellers" type="number" placeholder="Nombre de voyageurs">
    </div>
    <div class="form-group">
        <input id="rooms" name="rooms" type="number" placeholder="Nombre de chambres">
    </div>
    <div class="form-group">
        <input id="maxprice" name="maxprice" type="number" placeholder="Price">
    </div>
    <input type="submit" class="btn" value="Filtrer" id="filterBtn">
</form>
