<footer>
    <div class="logoFooter">
        <img src="{{asset('images/logo-03.png')}}" alt="">
    </div>
    <div class="contact">
        <p id="contactTitle">{% trans %}Contact us{% endtrans %}</p>
        <div class="telcontainer">
            <div class="tel">
                <div class="telLocal">
                {% trans %}Florida{% endtrans %}
                </div>
                <p> +33(7)84.40.75.23</p>
            </div>
            <div class="tel">
                <div class="telLocal">
                {% trans %}Côtes&nbsp;d'Azur{% endtrans %}
                </div>
                <p> +33(7)84.40.75.23</p>
            </div>
        </div>
        <p id="question">{% trans %}You need more information?{% endtrans %}</p>
        <div class="btnContainer">
            <a href="{{path('faq')}}"><button>{% trans %}Consult the FAQ{% endtrans %}</button></a>
            <a href="{{path('contact')}}"><button>{% trans %}Contact us{% endtrans %}</button></a>
        </div>
    </div>
     <div class="social">
            <div class="reseaux">
                <p>{% trans %}Follow us{% endtrans %}</p>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
   
</footer> 
<div class="copyright">
    <p>Copyright©Les villas blue 2023 - Propulsé par Panda’com</p>
</div>