{% extends 'base.html.twig' %}

{% block title %}Villas Blue{% endblock %}

{% block body %}
    <div class="slide" id="concIntro">
         <img id="intro-logo" src="{{asset('images/logo-03.png')}}" alt="Logo">
        <div class="sep">
            <img src="{{asset('images/separation-bottom.png')}}" alt="separation">
        </div>
    </div>
    <div class="slide" id="conciergerieText">
        <h2>{% trans %}Discover our concierge service...{% endtrans %}</h2>
        <p class="script">{% trans %}Join the Villas Blue collection!{% endtrans %} </p>
        <p>{% trans %}Our VILLAS BLUE agency will take care of all the administrative aspects of letting your property on a seasonal basis: 
        drafting contracts, managing the schedule, monitoring payments and reminders (from the deposit to the security deposit).
        Enjoy the freedom of renting without constraints and benefit from our experience and expertise!{% endtrans %}</p>
    </div>
    <div class="slide" id="formulaireConc">
        <h2>{% trans %}Offer your property for rent{% endtrans %}</h2>
        <p>{% trans %}Fill in the form and we'll get back to you as soon as possible...{% endtrans %}</p>
        <form id="addConciergerie" action="">
            <input type="text" placeholder="nom">
        </form>
    </div>
{% include "partials/footer.html.twig" %}
{% endblock %}
