<!doctype html>
<html lang="fr">
<h1> Demande de contact </h1>
<p>
    
    Bonjour, <b>{{user.firstName}}</b> <br>
    Vous avez reçu une demande de contact de la part de :<br>

    <b>Nom d'utilisateur : {{utilisateur.firstName}}</b><br>
    <b>Email : {{utilisateur.email}}</b><br>

    <br><p>Cet utilisateur est certainement intéressé par une de vos créations et souhaite entrer en contact avec vous.</p>
   
    <strong>Ceci est un mail automatique, merci de ne pas y répondre !</strong><br>
    À bientôt sur notre site 

   
</p>
</html>