#introGalery{
    height: 60vh;
    background-image: url(../../public/images/introHome.png);
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    background-color: rgba(8, 196, 217, 0.1);
}
#search h2{
    width: 100%;
    text-align: center;
}
.galery{
    padding-top: 30px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 20px;
}
.filter input{
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.filter select{
    background-color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
#filterBtn{
    background-color:#024959;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}