.titleLogement{
    background-color: #E6F8FB;
    padding-bottom: 20px;
}
.titleLogement h2{
    width: 100%;
    text-align: center;
}
.titleLogement p{
    width: 100%;
    text-align: center;
}
#price{
    font-size: 20pt;
}

.caract{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 15pt;
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.caract div{
    margin: 5px 10px 5px 10px;
}
.priceLogement{
    margin-top:  20px;
}
.containerGalery{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.arrowContainer{
    width: 90%;
    height: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    
}
.arrowFond{
    position: absolute;
    cursor: pointer;
    height: 60px;
    background-color: rgba(18, 99, 101, 0.357);
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.arrowFond .arrow{
    height: 30px;
    display: flex;
    align-items: center;
}
.arrow-left{
    left: 30px;
}
.arrow-right{
    right: 30px;
}
.containerGalery img{
    height: 100%;
}
.galery{
    width: 80%;
    margin-bottom: 20px;
}
.diaporama{
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}
.diapo{
    width: 50px;
    margin: 3px;
    cursor: pointer;
}
.textIntro{
    width: 70%;
    text-align: left;
    margin: 0 auto;
    font-size: 15pt;
}
.contentLogement{
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding-bottom: 40px;
}
.group{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.group h3{
    font-size: 20pt;
    width: 100%;
    padding-bottom: 10px;
}
.group p.lined{
    border-left: 3px rgb(99, 98, 98) solid;
    padding-left: 10px
}
.calendar{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.calendar h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20px; 
}
.calendar img{
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.calendrier{
    width: 70%;
}
.simulation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.simulation h2{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.simulation form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.simulation form input{
    background-color: rgba(217, 217, 217, 0.3);
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-family: var(--normals);
    font-size: 15pt;
    margin: 5px;
}
.simulation #estimate{
    background-color: rgba(2, 73, 89, 1);
    border: none;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}
.result{
    width:100%;
    text-align: center;
    margin-top: 20px;
}
#booking{
    background-color:rgba(8, 196, 217, 1) ;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    font-family: var(--cursive);
    color: white;
    font-size: 15pt;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 30px;
}

.logementFormulaire{
    display: block ;
}
#nodogs{
    width: 30px;
}
.noanimals{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.noanimals p{
    line-height: 0;
}

/* agenda */
.st-c-pos{
    background-color: aqua !important;
}

@media all and (max-width: 850px){
    .textIntro{
        margin-top: 20px;
        width: 80%;
    }
    .contentLogement{
        width: 90%;
        grid-template-columns: 1fr !important;
    }
}