{% extends 'base.html.twig' %}

{% block title %}Villas Blue{% endblock %}

{% block body %}
    <div class="slide" id="introGalery">
         <img id="intro-logo" src="{{asset('images/logo-03.png')}}" alt="Logo">
        <div class="sep">
            <img src="{{asset('images/separation-bottom.png')}}" alt="separation">
        </div>
    </div>
    <div class="slide" id="titlePartners">
        <h2>{% trans %}Nos partenaires{% endtrans %}</h2>
        <h4>{% trans %}Our role is to give you the chance to enjoy a dream holiday...{% endtrans %}</h4>
    </div>
    <div class="slide" id="partnersContainer">
        {% for partner in partners %}
            <div class="partner">
                 <img src="../../upload/{{partner.logo}}" alt="logo du partenaire {{partner.name}}">
            </div>
        {% endfor %}
        


    </div>
    {% include "partials/footer.html.twig" %}
{% endblock %}
